body {
	background-color: #000000;
	color: #8897CF;
}

div.navbar {
	background-color: #262323;
}

#header {
	background-color: #262323;
}

#header div {
	margin: 5px 0 5px 0;
}

.contentcontainer {
	padding-top: 60px;
}

#content {
	padding-top: 20px;
}

div.header {
	margin: 3px 0 3px 0;
	background-color: #262323;
}

#page {
	display: none;
}

#register_email_check.glyphicon-ok {
	color: #0f9b00;
}

#register_email_check.glyphicon-remove {
	color: #9b0900;
}

#register_alert {
	display: none;
}

.ui-notify { width:350px; position:fixed; top:10px; right:10px; z-index: 10001 }
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }

.list:nth-child(even) {
	font-weight: bold;
}

.title {
	background-color: #262323;
}
.shield_active {
	color: #00bbcf;
}
.link {
	cursor: pointer;
}
.map_table_y {
	display: inline-block;
	width: 20px;
}
.map_table_x {
	display: inline-block;
	width: 30px;
	text-align: center
}
